In [2]:
import pandas as pd
import numpy as np
import os

In [12]:
def index_cleaning(index_list:list) -> list:
    """
    This function takes the index list of any DataFrame, cleans it and returns it 
    to the calling function to replace the previous data index with the cleaned data index. 
    """
    outlist = []
    for country in index_list:
        if country[0:5] == "China":
            outlist.append(country.split(": ")[-1].replace(" ","_"))
        else:
            outlist.append(country.split(",")[0].replace(" ","_"))
    return outlist

In [3]:
data = pd.read_excel("../data/Consumer_Price_Index_CPI_Clothing.xlsx")

In [4]:
data.head()

,Unnamed: 0,Jan 2000,Feb 2000,Mar 2000,Apr 2000,May 2000,Jun 2000,Jul 2000,Aug 2000,Sep 2000,...,Aug 2022,Sep 2022,Oct 2022,Nov 2022,Dec 2022,Jan 2023,Feb 2023,Mar 2023,Apr 2023,May 2023
0,"Afghanistan, Islamic Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.036985,104.183724,104.711694,105.218992,105.580597,105.496335,105.278098,105.297646,105.35911,NaN
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,245.900000,248.820000,250.000000,251.620000,253.490000,257.120000,260.010000,260.290000,260.29000,NaN
3,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.440000,121.440000,124.930000,124.930000,124.930000,NaN,NaN,NaN,NaN,NaN
4,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1067.525100,1180.950600,1261.598500,1318.260900,1371.336800,1402.845000,1457.766100,1595.086100,1768.09670,NaN

In [13]:
data = pd.read_excel("../data/Consumer_Price_Index_CPI_Clothing.xlsx")
data.index = data["Unnamed: 0"]
data = data.drop(columns=["Unnamed: 0"])
data.columns = [c.strip().replace(" ","_") for c in data.columns.values.tolist()]
data.index = index_cleaning(data.index.tolist())
data.head()

,Jan_2000,Feb_2000,Mar_2000,Apr_2000,May_2000,Jun_2000,Jul_2000,Aug_2000,Sep_2000,Oct_2000,...,Aug_2022,Sep_2022,Oct_2022,Nov_2022,Dec_2022,Jan_2023,Feb_2023,Mar_2023,Apr_2023,May_2023
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.036985,104.183724,104.711694,105.218992,105.580597,105.496335,105.278098,105.297646,105.35911,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,245.900000,248.820000,250.000000,251.620000,253.490000,257.120000,260.010000,260.290000,260.29000,NaN
Antigua_and_Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.440000,121.440000,124.930000,124.930000,124.930000,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1067.525100,1180.950600,1261.598500,1318.260900,1371.336800,1402.845000,1457.766100,1595.086100,1768.09670,NaN

In [45]:
len(data)

163

In [46]:
data.head()

,Unnamed: 0,Jan 2000,Feb 2000,Mar 2000,Apr 2000,May 2000,Jun 2000,Jul 2000,Aug 2000,Sep 2000,...,Aug 2022,Sep 2022,Oct 2022,Nov 2022,Dec 2022,Jan 2023,Feb 2023,Mar 2023,Apr 2023,May 2023
0,"Afghanistan, Islamic Rep. of",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.036985,104.183724,104.711694,105.218992,105.580597,105.496335,105.278098,105.297646,105.35911,NaN
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,245.900000,248.820000,250.000000,251.620000,253.490000,257.120000,260.010000,260.290000,260.29000,NaN
3,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.440000,121.440000,124.930000,124.930000,124.930000,NaN,NaN,NaN,NaN,NaN
4,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1067.525100,1180.950600,1261.598500,1318.260900,1371.336800,1402.845000,1457.766100,1595.086100,1768.09670,NaN

In [47]:
def index_cleaning(index_list:list) -> list:
    outlist = []
    for country in index_list:
        if country[0:5] == "China":
            outlist.append(country.split(": ")[-1].replace(" ","_"))
        else:
            outlist.append(country.split(",")[0].replace(" ","_"))
    return outlist

In [48]:
data.index = data["Unnamed: 0"]
data = data.drop(columns=["Unnamed: 0"])
data.columns = [c.strip().replace(" ","_") for c in data.columns.values.tolist()]
data.index = index_cleaning(data.index.tolist())

In [49]:
data.head()

,Jan_2000,Feb_2000,Mar_2000,Apr_2000,May_2000,Jun_2000,Jul_2000,Aug_2000,Sep_2000,Oct_2000,...,Aug_2022,Sep_2022,Oct_2022,Nov_2022,Dec_2022,Jan_2023,Feb_2023,Mar_2023,Apr_2023,May_2023
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.036985,104.183724,104.711694,105.218992,105.580597,105.496335,105.278098,105.297646,105.35911,NaN
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,245.900000,248.820000,250.000000,251.620000,253.490000,257.120000,260.010000,260.290000,260.29000,NaN
Antigua_and_Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.440000,121.440000,124.930000,124.930000,124.930000,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1067.525100,1180.950600,1261.598500,1318.260900,1371.336800,1402.845000,1457.766100,1595.086100,1768.09670,NaN

In [51]:
data.loc["Hong_Kong"]

Jan_2000      NaN
Feb_2000      NaN
Mar_2000      NaN
Apr_2000      NaN
May_2000      NaN
            ...
Jan_2023    108.8
Feb_2023    108.3
Mar_2023    112.1
Apr_2023      NaN
May_2023      NaN
Name: Hong_Kong, Length: 281, dtype: float64

In [15]:
available_period = []
for period in data.loc["Albania"].isna().tolist():
    if period == True:
        available_period.append(False)
    elif period == False:
        available_period.append(True)

In [16]:
available_period

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False]

In [14]:
data.columns.values[available_period]

NameError: name 'available_period' is not defined

In [52]:
input_countries = ["Brazil","Argentina","United States"]

In [53]:
data.loc[input_countries]

,Jan_2000,Feb_2000,Mar_2000,Apr_2000,May_2000,Jun_2000,Jul_2000,Aug_2000,Sep_2000,Oct_2000,...,Aug_2022,Sep_2022,Oct_2022,Nov_2022,Dec_2022,Jan_2023,Feb_2023,Mar_2023,Apr_2023,May_2023
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1067.525100,1180.950600,1261.59850,1318.260900,1371.336800,1402.845000,1457.766100,1595.086100,1768.096700,NaN
United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,108.061163,110.195459,109.89615,107.838003,106.024169,108.078085,111.887666,112.699925,111.714214,NaN

In [54]:
data_country = {}
for country in input_countries:
    available_period = []
    for period in data.loc["Albania"].isna().tolist():
        if period == True:
            available_period.append(False)
        elif period == False:
            available_period.append(True)

    data_country[country] = data.columns.values[available_period]

In [56]:
"Jan_2007" in data_country["United States"]

True

In [57]:
input_dates = {"start":"Jan_2008","end":"Dec_2018"}
input_countries = ["Brazil","Argentina","United States"]
date_range = data.columns.values.tolist()
for country in input_countries: 
    if input_dates["start"] in data_country[country]:
        start_index = date_range.index(input_dates["start"])

start
end

In [59]:
date_range = data.columns.values.tolist()

In [60]:
date_range.index("Jan_2008")

96

In [2]:
import os

for subdir, dirs, files in os.walk('data/'):
    file_list =  [os.path.join(subdir, file) for file in files]

In [6]:
for subdir, dirs, files in os.walk('../data/'):
    print(files)

['Consumer_Price_Index_CPI_Education.xlsx', 'Consumer_Price_Index_CPI_Misc_Goods_Services.xlsx', 'Consumer_Price_Index_CPI_Recreation_Culture.xlsx', 'Consumer_Price_Index_CPI_Food.xlsx', 'Consumer_Price_Index_CPI_Clothing.xlsx', 'Consumer_Price_Index_CPI_Alcoholic_Beverages.xlsx', 'Consumer_Price_Index_CPI_Communication.xlsx', 'Consumer_Price_Index_CPI_Transport.xlsx', 'Consumer_Price_Index_CPI_Housing_Energy.xlsx', 'Consumer_Price_Index_CPI_Health.xlsx', 'Consumer_Price_Index_CPI_Restaurants_Hotels.xlsx']

In [26]:
wanted_columns = data.columns.values[np.where(data.columns.values == "Jan_2000")[0][0]:np.where(data.columns.values == "Jan_2010")[0][0]]

In [24]:
np.where(data.columns.values == "Jan_2010")[0][0]

120

In [29]:
data[wanted_columns]

,Jan_2000,Feb_2000,Mar_2000,Apr_2000,May_2000,Jun_2000,Jul_2000,Aug_2000,Sep_2000,Oct_2000,...,Mar_2009,Apr_2009,May_2009,Jun_2009,Jul_2009,Aug_2009,Sep_2009,Oct_2009,Nov_2009,Dec_2009
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.577507,66.825943,66.353843,65.934825,65.680764,65.956999,66.894306,66.814291,67.569428,67.274961
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,114.900000,114.800000,114.900000,115.100000,115.000000,114.300000,114.600000,115.700000,115.800000,115.800000
Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,104.280000,104.280000,104.430000,104.510000,104.390000,104.390000,104.800000,105.100000,105.130000,105.280000
Antigua_and_Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.861000,60.982722,61.141277,61.428641,61.606784,61.927139,62.342051,62.510374,62.710408,63.218362
West_Bank_and_Gaza,85.896377,85.126696,85.099924,83.50702,84.062528,84.76528,84.350322,83.614106,83.620799,83.312926,...,87.915029,88.151578,88.646770,89.112154,89.232988,90.413286,90.555026,91.096710,91.458810,92.067215
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.459896,1.411907,1.318453,1.300773,1.310876,1.305824,1.298247,1.300773,1.318453,1.310876

In [33]:
np.where(data.columns.values == "Jun_2015")

(array([185]),)

In [34]:
data.columns.values

array(['Jan_2000', 'Feb_2000', 'Mar_2000', 'Apr_2000', 'May_2000',
       'Jun_2000', 'Jul_2000', 'Aug_2000', 'Sep_2000', 'Oct_2000',
       'Nov_2000', 'Dec_2000', 'Jan_2001', 'Feb_2001', 'Mar_2001',
       'Apr_2001', 'May_2001', 'Jun_2001', 'Jul_2001', 'Aug_2001',
       'Sep_2001', 'Oct_2001', 'Nov_2001', 'Dec_2001', 'Jan_2002',
       'Feb_2002', 'Mar_2002', 'Apr_2002', 'May_2002', 'Jun_2002',
       'Jul_2002', 'Aug_2002', 'Sep_2002', 'Oct_2002', 'Nov_2002',
       'Dec_2002', 'Jan_2003', 'Feb_2003', 'Mar_2003', 'Apr_2003',
       'May_2003', 'Jun_2003', 'Jul_2003', 'Aug_2003', 'Sep_2003',
       'Oct_2003', 'Nov_2003', 'Dec_2003', 'Jan_2004', 'Feb_2004',
       'Mar_2004', 'Apr_2004', 'May_2004', 'Jun_2004', 'Jul_2004',
       'Aug_2004', 'Sep_2004', 'Oct_2004', 'Nov_2004', 'Dec_2004',
       'Jan_2005', 'Feb_2005', 'Mar_2005', 'Apr_2005', 'May_2005',
       'Jun_2005', 'Jul_2005', 'Aug_2005', 'Sep_2005', 'Oct_2005',
       'Nov_2005', 'Dec_2005', 'Jan_2006', 'Feb_2006', 'Mar_2006',
       'Apr_2006', 'May_2006', 'Jun_2006', 'Jul_2006', 'Aug_2006',
       'Sep_2006', 'Oct_2006', 'Nov_2006', 'Dec_2006', 'Jan_2007',
       'Feb_2007', 'Mar_2007', 'Apr_2007', 'May_2007', 'Jun_2007',
       'Jul_2007', 'Aug_2007', 'Sep_2007', 'Oct_2007', 'Nov_2007',
       'Dec_2007', 'Jan_2008', 'Feb_2008', 'Mar_2008', 'Apr_2008',
       'May_2008', 'Jun_2008', 'Jul_2008', 'Aug_2008', 'Sep_2008',
       'Oct_2008', 'Nov_2008', 'Dec_2008', 'Jan_2009', 'Feb_2009',
       'Mar_2009', 'Apr_2009', 'May_2009', 'Jun_2009', 'Jul_2009',
       'Aug_2009', 'Sep_2009', 'Oct_2009', 'Nov_2009', 'Dec_2009',
       'Jan_2010', 'Feb_2010', 'Mar_2010', 'Apr_2010', 'May_2010',
       'Jun_2010', 'Jul_2010', 'Aug_2010', 'Sep_2010', 'Oct_2010',
       'Nov_2010', 'Dec_2010', 'Jan_2011', 'Feb_2011', 'Mar_2011',
       'Apr_2011', 'May_2011', 'Jun_2011', 'Jul_2011', 'Aug_2011',
       'Sep_2011', 'Oct_2011', 'Nov_2011', 'Dec_2011', 'Jan_2012',
       'Feb_2012', 'Mar_2012', 'Apr_2012', 'May_2012', 'Jun_2012',
       'Jul_2012', 'Aug_2012', 'Sep_2012', 'Oct_2012', 'Nov_2012',
       'Dec_2012', 'Jan_2013', 'Feb_2013', 'Mar_2013', 'Apr_2013',
       'May_2013', 'Jun_2013', 'Jul_2013', 'Aug_2013', 'Sep_2013',
       'Oct_2013', 'Nov_2013', 'Dec_2013', 'Jan_2014', 'Feb_2014',
       'Mar_2014', 'Apr_2014', 'May_2014', 'Jun_2014', 'Jul_2014',
       'Aug_2014', 'Sep_2014', 'Oct_2014', 'Nov_2014', 'Dec_2014',
       'Jan_2015', 'Feb_2015', 'Mar_2015', 'Apr_2015', 'May_2015',
       'Jun_2015', 'Jul_2015', 'Aug_2015', 'Sep_2015', 'Oct_2015',
       'Nov_2015', 'Dec_2015', 'Jan_2016', 'Feb_2016', 'Mar_2016',
       'Apr_2016', 'May_2016', 'Jun_2016', 'Jul_2016', 'Aug_2016',
       'Sep_2016', 'Oct_2016', 'Nov_2016', 'Dec_2016', 'Jan_2017',
       'Feb_2017', 'Mar_2017', 'Apr_2017', 'May_2017', 'Jun_2017',
       'Jul_2017', 'Aug_2017', 'Sep_2017', 'Oct_2017', 'Nov_2017',
       'Dec_2017', 'Jan_2018', 'Feb_2018', 'Mar_2018', 'Apr_2018',
       'May_2018', 'Jun_2018', 'Jul_2018', 'Aug_2018', 'Sep_2018',
       'Oct_2018', 'Nov_2018', 'Dec_2018', 'Jan_2019', 'Feb_2019',
       'Mar_2019', 'Apr_2019', 'May_2019', 'Jun_2019', 'Jul_2019',
       'Aug_2019', 'Sep_2019', 'Oct_2019', 'Nov_2019', 'Dec_2019',
       'Jan_2020', 'Feb_2020', 'Mar_2020', 'Apr_2020', 'May_2020',
       'Jun_2020', 'Jul_2020', 'Aug_2020', 'Sep_2020', 'Oct_2020',
       'Nov_2020', 'Dec_2020', 'Jan_2021', 'Feb_2021', 'Mar_2021',
       'Apr_2021', 'May_2021', 'Jun_2021', 'Jul_2021', 'Aug_2021',
       'Sep_2021', 'Oct_2021', 'Nov_2021', 'Dec_2021', 'Jan_2022',
       'Feb_2022', 'Mar_2022', 'Apr_2022', 'May_2022', 'Jun_2022',
       'Jul_2022', 'Aug_2022', 'Sep_2022', 'Oct_2022', 'Nov_2022',
       'Dec_2022', 'Jan_2023', 'Feb_2023', 'Mar_2023', 'Apr_2023',
       'May_2023'], dtype=object)

In [35]:
print(data.head())

                     Jan_2000  Feb_2000  Mar_2000  Apr_2000  May_2000  \
Afghanistan               NaN       NaN       NaN       NaN       NaN
Albania                   NaN       NaN       NaN       NaN       NaN
Algeria                   NaN       NaN       NaN       NaN       NaN
Antigua_and_Barbuda       NaN       NaN       NaN       NaN       NaN
Argentina                 NaN       NaN       NaN       NaN       NaN

                     Jun_2000  Jul_2000  Aug_2000  Sep_2000  Oct_2000  ...  \
Afghanistan               NaN       NaN       NaN       NaN       NaN  ...
Albania                   NaN       NaN       NaN       NaN       NaN  ...
Algeria                   NaN       NaN       NaN       NaN       NaN  ...
Antigua_and_Barbuda       NaN       NaN       NaN       NaN       NaN  ...
Argentina                 NaN       NaN       NaN       NaN       NaN  ...

                        Aug_2022     Sep_2022     Oct_2022     Nov_2022  \
Afghanistan                  NaN          NaN          NaN          NaN
Albania               102.036985   104.183724   104.711694   105.218992
Algeria               245.900000   248.820000   250.000000   251.620000
Antigua_and_Barbuda   121.440000   121.440000   124.930000   124.930000
Argentina            1067.525100  1180.950600  1261.598500  1318.260900

                        Dec_2022     Jan_2023     Feb_2023     Mar_2023  \
Afghanistan                  NaN          NaN          NaN          NaN
Albania               105.580597   105.496335   105.278098   105.297646
Algeria               253.490000   257.120000   260.010000   260.290000
Antigua_and_Barbuda   124.930000          NaN          NaN          NaN
Argentina            1371.336800  1402.845000  1457.766100  1595.086100

                       Apr_2023  May_2023
Afghanistan                 NaN       NaN
Albania               105.35911       NaN
Algeria               260.29000       NaN
Antigua_and_Barbuda         NaN       NaN
Argentina            1768.09670       NaN

[5 rows x 281 columns]

In [12]:
def file_list(directory):
        current_dir = os.path.dirname("__file__")
        data_dir = os.path.abspath(os.path.join(current_dir, os.pardir, 'data'))
        file_list = [os.path.join(data_dir, file) 
                        for file in os.listdir(data_dir)]
        
        return file_list

In [13]:
data_folder = "data/"
files = file_list(data_folder)

In [14]:
files

['/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Education.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Misc_Goods_Services.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Recreation_Culture.xlsx',
 '/home/kshitij/global_inflation_analyser/data/~$Consumer_Price_Index_CPI_Health.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Food.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Clothing.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Alcoholic_Beverages.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Communication.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Transport.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Housing_Energy.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_Countries.csv',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Health.xlsx',
 '/home/kshitij/global_inflation_analyser/data/Inflation_Rate_Countries.csv',
 '/home/kshitij/global_inflation_analyser/data/product_group_CPI',
 '/home/kshitij/global_inflation_analyser/data/Consumer_Price_Index_CPI_Restaurants_Hotels.xlsx']

In [1]:
from preprocessor import Preprocessor

In [2]:
p = Preprocessor()
p.list_products()

['Education',
 'Misc_Goods_Services',
 'Recreation_Culture',
 'Food',
 'Clothing',
 'Alcoholic_Beverages',
 'Communication',
 'Transport',
 'Housing_Energy',
 'Health',
 'Restaurants_Hotels']

In [1]:
from analysis import Analyser

In [2]:
an = Analyser()

In [3]:
an.list_products()

['Education',
 'Misc_Goods_Services',
 'Recreation_Culture',
 'Food',
 'Clothing',
 'Alcoholic_Beverages',
 'Communication',
 'Transport',
 'Housing_Energy',
 'Health',
 'Restaurants_Hotels']

In [4]:
an.list_countries(intext="all")

['Afghanistan',
 'Albania',
 'Antigua_and_Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia_and_Herzegovina',
 'Botswana',
 'Brazil',
 'British_Virgin_Islands',
 'Brunei_Darussalam',
 'Bulgaria',
 'Burkina_Faso',
 'Burundi',
 'Cabo_Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central_African_Rep.',
 'Chad',
 'Chile',
 'Hong_Kong',
 'Macao',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo',
 'Costa_Rica',
 "Côte_d'Ivoire",
 'Croatia',
 'Cyprus',
 'Czech_Rep.',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican_Rep.',
 'Ecuador',
 'Egypt',
 'El_Salvador',
 'Equatorial_Guinea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jordan',
 'Kiribati',
 'Korea',
 'Kosovo',
 'Kuwait',
 'Kyrgyz_Rep.',
 "Lao_People's_Dem._Rep.",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New_Caledonia',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North_Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Poland',
 'Portugal',
 'Qatar',
 'Russian_Federation',
 'Rwanda',
 'Samoa',
 'San_Marino',
 'São_Tomé_and_Príncipe',
 'Saudi_Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra_Leone',
 'Singapore',
 'Slovak_Rep.',
 'Slovenia',
 'Solomon_Islands',
 'Somalia',
 'South_Africa',
 'South_Sudan',
 'Spain',
 'Sri_Lanka',
 'St._Kitts_and_Nevis',
 'St._Lucia',
 'St._Vincent_and_the_Grenadines',
 'Sudan',
 'Switzerland',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad_and_Tobago',
 'Tunisia',
 'Türkiye',
 'Ukraine',
 'United_Kingdom',
 'United_States',
 'Uzbekistan',
 'Vietnam',
 'West_Bank_and_Gaza',
 'Zambia',
 'Zimbabwe']

In [5]:
an.list_years()

INFO:root:You have chosen the following countries : ['Afghanistan', 'Albania', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia_and_Herzegovina', 'Botswana', 'Brazil', 'British_Virgin_Islands', 'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi', 'Cabo_Verde', 'Cambodia', 'Cameroon', 'Canada', 'Central_African_Rep.', 'Chad', 'Chile', 'Hong_Kong', 'Macao', 'Colombia', 'Comoros', 'Congo', 'Congo', 'Costa_Rica', "Côte_d'Ivoire", 'Croatia', 'Cyprus', 'Czech_Rep.', 'Denmark', 'Djibouti', 'Dominica', 'Dominican_Rep.', 'Ecuador', 'Egypt', 'El_Salvador', 'Equatorial_Guinea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jordan', 'Kiribati', 'Korea', 'Kosovo', 'Kuwait', 'Kyrgyz_Rep.', "Lao_People's_Dem._Rep.", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia', 'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia', 'Norway', 'Oman', 'Pakistan', 'Panama', 'Paraguay', 'Poland', 'Portugal', 'Qatar', 'Russian_Federation', 'Rwanda', 'Samoa', 'San_Marino', 'São_Tomé_and_Príncipe', 'Saudi_Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra_Leone', 'Singapore', 'Slovak_Rep.', 'Slovenia', 'Solomon_Islands', 'Somalia', 'South_Africa', 'South_Sudan', 'Spain', 'Sri_Lanka', 'St._Kitts_and_Nevis', 'St._Lucia', 'St._Vincent_and_the_Grenadines', 'Sudan', 'Switzerland', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad_and_Tobago', 'Tunisia', 'Türkiye', 'Ukraine', 'United_Kingdom', 'United_States', 'Uzbekistan', 'Vietnam', 'West_Bank_and_Gaza', 'Zambia', 'Zimbabwe']
INFO:root:You have chosen Education

array(['Jan_2000', 'Feb_2000', 'Mar_2000', 'Apr_2000', 'May_2000',
       'Jun_2000', 'Jul_2000', 'Aug_2000', 'Sep_2000', 'Oct_2000',
       'Nov_2000', 'Dec_2000', 'Jan_2001', 'Feb_2001', 'Mar_2001',
       'Apr_2001', 'May_2001', 'Jun_2001', 'Jul_2001', 'Aug_2001',
       'Sep_2001', 'Oct_2001', 'Nov_2001', 'Dec_2001', 'Jan_2002',
       'Feb_2002', 'Mar_2002', 'Apr_2002', 'May_2002', 'Jun_2002',
       'Jul_2002', 'Aug_2002', 'Sep_2002', 'Oct_2002', 'Nov_2002',
       'Dec_2002', 'Jan_2003', 'Feb_2003', 'Mar_2003', 'Apr_2003',
       'May_2003', 'Jun_2003', 'Jul_2003', 'Aug_2003', 'Sep_2003',
       'Oct_2003', 'Nov_2003', 'Dec_2003', 'Jan_2004', 'Feb_2004',
       'Mar_2004', 'Apr_2004', 'May_2004', 'Jun_2004', 'Jul_2004',
       'Aug_2004', 'Sep_2004', 'Oct_2004', 'Nov_2004', 'Dec_2004',
       'Jan_2005', 'Feb_2005', 'Mar_2005', 'Apr_2005', 'May_2005',
       'Jun_2005', 'Jul_2005', 'Aug_2005', 'Sep_2005', 'Oct_2005',
       'Nov_2005', 'Dec_2005', 'Jan_2006', 'Feb_2006', 'Mar_2006',
       'Apr_2006', 'May_2006', 'Jun_2006', 'Jul_2006', 'Aug_2006',
       'Sep_2006', 'Oct_2006', 'Nov_2006', 'Dec_2006', 'Jan_2007',
       'Feb_2007', 'Mar_2007', 'Apr_2007', 'May_2007', 'Jun_2007',
       'Jul_2007', 'Aug_2007', 'Sep_2007', 'Oct_2007', 'Nov_2007',
       'Dec_2007', 'Jan_2008', 'Feb_2008', 'Mar_2008', 'Apr_2008',
       'May_2008', 'Jun_2008', 'Jul_2008', 'Aug_2008', 'Sep_2008',
       'Oct_2008', 'Nov_2008', 'Dec_2008', 'Jan_2009', 'Feb_2009',
       'Mar_2009', 'Apr_2009', 'May_2009', 'Jun_2009', 'Jul_2009',
       'Aug_2009', 'Sep_2009', 'Oct_2009', 'Nov_2009', 'Dec_2009',
       'Jan_2010', 'Feb_2010', 'Mar_2010', 'Apr_2010', 'May_2010',
       'Jun_2010', 'Jul_2010', 'Aug_2010', 'Sep_2010', 'Oct_2010',
       'Nov_2010', 'Dec_2010', 'Jan_2011', 'Feb_2011', 'Mar_2011',
       'Apr_2011', 'May_2011', 'Jun_2011', 'Jul_2011', 'Aug_2011',
       'Sep_2011', 'Oct_2011', 'Nov_2011', 'Dec_2011', 'Jan_2012',
       'Feb_2012', 'Mar_2012', 'Apr_2012', 'May_2012', 'Jun_2012',
       'Jul_2012', 'Aug_2012', 'Sep_2012', 'Oct_2012', 'Nov_2012',
       'Dec_2012', 'Jan_2013', 'Feb_2013', 'Mar_2013', 'Apr_2013',
       'May_2013', 'Jun_2013', 'Jul_2013', 'Aug_2013', 'Sep_2013',
       'Oct_2013', 'Nov_2013', 'Dec_2013', 'Jan_2014', 'Feb_2014',
       'Mar_2014', 'Apr_2014', 'May_2014', 'Jun_2014', 'Jul_2014',
       'Aug_2014', 'Sep_2014', 'Oct_2014', 'Nov_2014', 'Dec_2014',
       'Jan_2015', 'Feb_2015', 'Mar_2015', 'Apr_2015', 'May_2015',
       'Jun_2015', 'Jul_2015', 'Aug_2015', 'Sep_2015', 'Oct_2015',
       'Nov_2015', 'Dec_2015', 'Jan_2016', 'Feb_2016', 'Mar_2016',
       'Apr_2016', 'May_2016', 'Jun_2016', 'Jul_2016', 'Aug_2016',
       'Sep_2016', 'Oct_2016', 'Nov_2016', 'Dec_2016', 'Jan_2017',
       'Feb_2017', 'Mar_2017', 'Apr_2017', 'May_2017', 'Jun_2017',
       'Jul_2017', 'Aug_2017', 'Sep_2017', 'Oct_2017', 'Nov_2017',
       'Dec_2017', 'Jan_2018', 'Feb_2018', 'Mar_2018', 'Apr_2018',
       'May_2018', 'Jun_2018', 'Jul_2018', 'Aug_2018', 'Sep_2018',
       'Oct_2018', 'Nov_2018', 'Dec_2018', 'Jan_2019', 'Feb_2019',
       'Mar_2019', 'Apr_2019', 'May_2019', 'Jun_2019', 'Jul_2019',
       'Aug_2019', 'Sep_2019', 'Oct_2019', 'Nov_2019', 'Dec_2019',
       'Jan_2020', 'Feb_2020', 'Mar_2020', 'Apr_2020', 'May_2020',
       'Jun_2020', 'Jul_2020', 'Aug_2020', 'Sep_2020', 'Oct_2020',
       'Nov_2020', 'Dec_2020', 'Jan_2021', 'Feb_2021', 'Mar_2021',
       'Apr_2021', 'May_2021', 'Jun_2021', 'Jul_2021', 'Aug_2021',
       'Sep_2021', 'Oct_2021', 'Nov_2021', 'Dec_2021', 'Jan_2022',
       'Feb_2022', 'Mar_2022', 'Apr_2022', 'May_2022', 'Jun_2022',
       'Jul_2022', 'Aug_2022', 'Sep_2022', 'Oct_2022', 'Nov_2022',
       'Dec_2022', 'Jan_2023', 'Feb_2023', 'Mar_2023', 'Apr_2023',
       'May_2023'], dtype=object)

In [6]:
data = an.set_datafile("Education",["Argentina","Belgium","Chile"],"Jan_2015","Jul_2017")

INFO:root:You have chosen the following countries : ['Argentina', 'Belgium', 'Chile']
INFO:root:You have chosen Education
INFO:root:You have chosen the time data from Jan_2015 to Jun_2017

In [7]:
data

,Jan_2015,Feb_2015,Mar_2015,Apr_2015,May_2015,Jun_2015,Jul_2015,Aug_2015,Sep_2015,Oct_2015,...,Sep_2016,Oct_2016,Nov_2016,Dec_2016,Jan_2017,Feb_2017,Mar_2017,Apr_2017,May_2017,Jun_2017
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,100.00,100.7952,103.9808,115.3409,118.6783,120.69,121.8757
Belgium,102.55,102.55,102.55,102.55,102.55,102.55,102.55,102.55,102.55,132.09,...,132.09,132.09,132.09,132.09,132.0900,132.0900,132.0900,132.0900,132.09,132.0900
Chile,84.23,84.25,88.59,88.60,88.62,88.66,88.63,88.63,88.60,88.59,...,92.96,92.97,92.96,92.96,92.9800,93.0100,96.9700,96.9700,97.02,97.0200

In [8]:
inf_data = an.inflation_calculator(data)

In [9]:
inf_data

,Jan_2015_INF,Feb_2015_INF,Mar_2015_INF,Apr_2015_INF,May_2015_INF,Jun_2015_INF,Jul_2015_INF,Aug_2015_INF,Sep_2015_INF,Oct_2015_INF,...,Sep_2016_INF,Oct_2016_INF,Nov_2016_INF,Dec_2016_INF,Jan_2017_INF,Feb_2017_INF,Mar_2017_INF,Apr_2017_INF,May_2017_INF,Jun_2017_INF
Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.8,3.2,10.9,2.9,1.7,1.0
Belgium,2.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,28.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Chile,-15.8,0.0,5.2,0.0,0.0,0.0,-0.0,0.0,-0.0,-0.0,...,-0.0,0.0,-0.0,0.0,0.0,0.0,4.3,0.0,0.1,0.0

In [10]:
argentina_inf = an.all_products_inflation("Argentina","Jan_2010","Jan_2018")

INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Education
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Misc_Goods_Services
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Recreation_Culture
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Food
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Clothing
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Alcoholic_Beverages
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Communication
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Transport
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Housing_Energy
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Health
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017
INFO:root:You have chosen the following countries : ['Argentina']
INFO:root:You have chosen Restaurants_Hotels
INFO:root:You have chosen the time data from Jan_2010 to Dec_2017

['Education' 'Misc_Goods_Services' 'Recreation_Culture' 'Food' 'Clothing'
 'Alcoholic_Beverages' 'Communication' 'Transport' 'Housing_Energy'
 'Health' 'Restaurants_Hotels']

In [11]:
argentina_inf

,Jan_2010,Feb_2010,Mar_2010,Apr_2010,May_2010,Jun_2010,Jul_2010,Aug_2010,Sep_2010,Oct_2010,...,Mar_2017,Apr_2017,May_2017,Jun_2017,Jul_2017,Aug_2017,Sep_2017,Oct_2017,Nov_2017,Dec_2017
Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,115.3409,118.6783,120.6900,121.8757,122.8868,125.3185,129.9791,131.0253,131.4832,131.4716
Misc_Goods_Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.6633,107.5442,108.9336,110.3729,111.8348,113.6021,115.4941,117.0803,118.5168,119.8176
Recreation_Culture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.5114,108.2881,109.0808,111.6195,115.6090,116.3997,119.5360,121.0320,121.8725,122.7547
Food,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,106.0143,108.3515,109.7631,110.7483,112.0115,114.3467,116.4048,118.1646,119.5688,120.3600
Clothing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102.2550,106.8806,108.7260,109.6911,108.3524,107.6769,111.7682,114.1380,115.6644,116.6315
Alcoholic_Beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,107.2901,109.8338,111.7182,112.4572,115.7940,117.3256,118.1383,121.6950,123.0467,123.7178
Communication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110.6933,118.2686,118.6553,120.1049,121.2281,123.0520,124.3454,130.9342,131.8833,134.1367
Transport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.2177,105.8674,106.8575,107.5925,109.9058,111.0994,111.9943,113.4318,116.8496,120.6253
Housing_Energy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,110.8463,117.4108,119.5207,121.6359,124.0879,126.7648,129.2656,130.4139,132.0294,155.5929
Health,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,107.1422,109.0520,110.7256,112.3558,116.0848,119.0025,121.8977,123.2121,124.8225,127.7938
Restaurants_Hotels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105.9567,107.9795,109.5541,110.9475,113.7770,114.5928,116.2141,117.8340,119.9896,122.1360

In [18]:
data = an.by_country("Education","Argentina")

INFO:root:You have chosen the following countries : Argentina
INFO:root:You have chosen Education

In [21]:
data

Jan_2000          NaN
Feb_2000          NaN
Mar_2000          NaN
Apr_2000          NaN
May_2000          NaN
              ...
Jan_2023     902.0686
Feb_2023     930.4868
Mar_2023    1201.1258
Apr_2023    1261.5273
May_2023          NaN
Name: Argentina, Length: 281, dtype: float64

In [12]:
import numpy as np

In [15]:
np.where(data.columns.values == "Jan_2010")[0][0]

120

In [16]:
s = "Jan_2010"
s.capitalize()

'Jan_2010'

In [17]:
np.where(data.columns.values == s.capitalize())[0][0]

120

In [17]:
product_list = an.list_products()
l_nation = ["Argentina"]

# resultframe = pd.DataFrame()

for product in product_list:             
    print(product)
    # result = an.set_datafile(product,l_nation,"Jan_2015","Jan_2016")
    # result.head()

Education
Misc_Goods_Services
Recreation_Culture
Food
Clothing
Alcoholic_Beverages
Communication
Transport
Housing_Energy
Health
Restaurants_Hotels

In [1]:
from preprocessor import Preprocessor

In [2]:
p = Preprocessor()

In [5]:
p.list_countries()

['Afghanistan',
 'Albania',
 'Antigua_and_Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia_and_Herzegovina',
 'Botswana',
 'Brazil',
 'British_Virgin_Islands',
 'Brunei_Darussalam',
 'Bulgaria',
 'Burkina_Faso',
 'Burundi',
 'Cabo_Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central_African_Rep.',
 'Chad',
 'Chile',
 'Hong_Kong',
 'Macao',
 'Colombia',
 'Comoros',
 'Congo',
 'Congo',
 'Costa_Rica',
 "Côte_d'Ivoire",
 'Croatia',
 'Cyprus',
 'Czech_Rep.',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican_Rep.',
 'Ecuador',
 'Egypt',
 'El_Salvador',
 'Equatorial_Guinea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Greece',
 'Grenada',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jordan',
 'Kiribati',
 'Korea',
 'Kosovo',
 'Kuwait',
 'Kyrgyz_Rep.',
 "Lao_People's_Dem._Rep.",
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New_Caledonia',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North_Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Poland',
 'Portugal',
 'Qatar',
 'Russian_Federation',
 'Rwanda',
 'Samoa',
 'San_Marino',
 'São_Tomé_and_Príncipe',
 'Saudi_Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra_Leone',
 'Singapore',
 'Slovak_Rep.',
 'Slovenia',
 'Solomon_Islands',
 'Somalia',
 'South_Africa',
 'South_Sudan',
 'Spain',
 'Sri_Lanka',
 'St._Kitts_and_Nevis',
 'St._Lucia',
 'St._Vincent_and_the_Grenadines',
 'Sudan',
 'Switzerland',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad_and_Tobago',
 'Tunisia',
 'Türkiye',
 'Ukraine',
 'United_Kingdom',
 'United_States',
 'Uzbekistan',
 'Vietnam',
 'West_Bank_and_Gaza',
 'Zambia',
 'Zimbabwe']

In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("../data/product_group_CPI/africa_products_CPI/CPI_Education.csv")
data.head()

,Unnamed: 0,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Benin,100.31,100.01,100.54,100.67,99.33,99.62,101.34,102.95,103.01,103.43
1,Botswana,76.84,82.53,87.82,91.05,94.85,100.00,103.09,107.99,109.57,112.69
2,Burkina Faso,NaN,NaN,101.35,101.48,102.02,103.48,105.31,107.53,109.08,112.60
3,Burundi,95.00,95.96,98.44,99.68,113.83,136.55,139.58,141.83,149.00,151.79
4,Cabo Verde,97.90,97.19,96.26,96.33,98.04,100.00,100.11,99.83,98.55,NaN

# Finding the inflation rate of Education in European Countries from January 2010 to December 2015

In [1]:
from analysis import Analyser

In [2]:
a = Analyser()

In [3]:
a.list_products()

['Education',
 'Misc_Goods_Services',
 'Recreation_Culture',
 'Food',
 'Clothing',
 'Alcoholic_Beverages',
 'Communication',
 'Transport',
 'Housing_Energy',
 'Health',
 'Restaurants_Hotels']

In [5]:
europe_countries = a.list_countries(intext="Europe")
europe_countries

['Austria',
 'Belgium',
 'Bulgaria',
 'Croatia',
 'Czech_Rep.',
 'Denmark',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Greece',
 'Hungary',
 'Iceland',
 'Ireland',
 'Italy',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Russian_Federation',
 'Serbia',
 'Spain',
 'Switzerland',
 'Ukraine',
 'United_Kingdom']

In [6]:
data = a.set_datafile(product="Education",country_list=europe_countries,start_time="Jan_2010",stop_time="Dec_2015")
data.head()

INFO:root:You have chosen the following countries : ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Czech_Rep.', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Russian_Federation', 'Serbia', 'Spain', 'Switzerland', 'Ukraine', 'United_Kingdom']
INFO:root:You have chosen Education
INFO:root:You have chosen the time data from Jan_2010 to Nov_2015

                Jan_2010      Feb_2010  ...      Oct_2015      Nov_2015
Austria        75.102260     75.345830  ...     90.980870     90.980870
Belgium        96.670000     96.670000  ...    132.090000    132.090000
Bulgaria    13708.720211  13742.611631  ...  16451.627033  16454.492837
Croatia       112.800000    112.900000  ...     99.500000     99.500000
Czech_Rep.     91.700000     91.800000  ...    100.800000    100.700000

[5 rows x 71 columns]

In [7]:
inflation_data = a.inflation_calculator(data)
inflation_data

                    Jan_2010_INF  Feb_2010_INF  ...  Oct_2015_INF  Nov_2015_INF
Austria                    -24.9           0.3  ...           0.1           0.0
Belgium                     -3.3           0.0  ...          28.8           0.0
Bulgaria                 13608.7           0.2  ...           0.4           0.0
Croatia                     12.8           0.1  ...           0.0           0.0
Czech_Rep.                  -8.3           0.1  ...           0.0          -0.1
Denmark                    -16.8           0.0  ...           0.9           0.0
Estonia                    122.0           0.0  ...          -0.1           0.0
Finland                    -12.7           0.0  ...           0.0           0.0
France                      -8.7           0.0  ...           0.2          -0.1
Germany                      4.6           0.2  ...           0.2           0.1
Greece                      14.6           0.0  ...           0.1           0.0
Hungary                      7.3           0.3  ...           0.7           0.3
Iceland                      5.2           0.0  ...           0.0           0.0
Ireland                    -22.1          -0.4  ...           3.6           0.2
Italy                      -10.3           0.0  ...           0.5           0.0
Latvia                      -0.3          -0.3  ...          -0.0           0.0
Lithuania                   -9.3           0.0  ...           0.1           0.0
Luxembourg                 -14.3           0.0  ...           0.0           0.0
Montenegro                   0.4           0.0  ...           0.0           0.0
Netherlands                -12.4           0.0  ...           0.0           0.0
Norway                     -19.2           0.0  ...           0.0           0.0
Poland                      10.5           0.0  ...           0.3           0.0
Portugal                    -4.0           0.0  ...           0.9          -0.0
Russian_Federation          -2.0           0.2  ...           0.4           0.2
Serbia                      24.6           0.9  ...           0.8           0.0
Spain                      -20.0           0.0  ...           0.2           0.0
Switzerland                -11.9           0.0  ...           0.0           0.0
Ukraine                     -9.2           0.1  ...           0.6           0.3
United_Kingdom             -38.5           0.0  ...           3.5           0.0

[29 rows x 71 columns]